<div>

    <h1>Listado de héroes</h1>
    <mat-divider></mat-divider>

</div>

<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="24px">

    <div *ngFor="let heroe of heroes" fxLayout="25" fxLayout.lg="20" fxLayout.sm="30">

        <mat-card>

            <mat-card-title>{{heroe.superhero}}</mat-card-title>
            <mat-card-subtitle>{{heroe.alter_ego}}</mat-card-subtitle>
 
            <div>
                <img mat-card-image [src]="heroe | img">
            </div>

            <mat-card-content>
                <h3>{{heroe.publisher}}</h3>
                <p>{{heroe.first_appearance}}</p>
                <p>{{heroe.characters}}</p>
            </mat-card-content>

            <mat-card-actions>
              <button mat-stroked-button [routerLink]="['/heroes', heroe.id]">Ver detalle</button>
              <button mat-stroked-button [routerLink]="['/heroes/edit', heroe.id]">Editar</button>
            </mat-card-actions>

          </mat-card>

    </div>

</div>